.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


body{
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1005%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M1020.11 533.26 a9.69 9.69 0 1 0 19.38 0 a9.69 9.69 0 1 0 -19.38 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M294.37 329.06a39.79 39.79 0 1 0 79.46-4.5z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M198.13 67.62L234.92 67.62L234.92 104.41L198.13 104.41z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M714.54 35.7L746.48 35.7L746.48 67.64L714.54 67.64z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M104.07 157.05L137.99 157.05L137.99 165.27L104.07 165.27z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M456.9 530.07L497.46 530.07L497.46 570.63L456.9 570.63z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M996.09 192.83 a45.67 45.67 0 1 0 91.34 0 a45.67 45.67 0 1 0 -91.34 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M223.57 473.54L264.22 473.54L264.22 514.19L223.57 514.19z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1091.05 174.94L1128.34 174.94L1128.34 221.85L1091.05 221.85z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M1221.47 346.35L1260.32 346.35L1260.32 368.25L1221.47 368.25z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M467.96 23.8L513.81 23.8L513.81 69.65L467.96 69.65z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M174.92 398.79L193.71 398.79L193.71 415.84L174.92 415.84z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M582.51 345.83L611.78 345.83L611.78 375.1L582.51 375.1z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M269.84 520.14L277.46 520.14L277.46 527.76L269.84 527.76z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M852.9 344.76a45.32 45.32 0 1 0 34.53 83.8z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1159.67 55.24L1181.81 55.24L1181.81 57.99L1159.67 57.99z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M685.82 131.35 a52.25 52.25 0 1 0 104.5 0 a52.25 52.25 0 1 0 -104.5 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M903.8 169.37a2.42 2.42 0 1 0-3.43-3.42z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M144.52 207.15 a44.5 44.5 0 1 0 89 0 a44.5 44.5 0 1 0 -89 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1385.39 259.28L1437.26 259.28L1437.26 311.15L1385.39 311.15z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1172.32 86.82L1181.72 86.82L1181.72 96.22L1172.32 96.22z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M619.86 484.2 a43.68 43.68 0 1 0 87.36 0 a43.68 43.68 0 1 0 -87.36 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M374.95 10.86L418.82 10.86L418.82 54.73L374.95 54.73z' stroke='%23e73635'%3e%3c/path%3e%3cpath d='M1201.38 346.77 a36.01 36.01 0 1 0 72.02 0 a36.01 36.01 0 1 0 -72.02 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M417.84 467.7a20.18 20.18 0 1 0 36.04 18.18z' fill='%23e73635'%3e%3c/path%3e%3cpath d='M223.3 99.69L250.39 99.69L250.39 119.44L223.3 119.44z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M766 340.4L767.65 340.4L767.65 342.05L766 342.05z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M376.25 376.28a38.82 38.82 0 1 0-25.25-73.42z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1235.6 410.8L1240.86 410.8L1240.86 416.06L1235.6 416.06z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M1050.16 423.74 a30.51 30.51 0 1 0 61.02 0 a30.51 30.51 0 1 0 -61.02 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M498.7 501.05a32.32 32.32 0 1 0 36.98 53.02z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M515.16 331.17 a30.63 30.63 0 1 0 61.26 0 a30.63 30.63 0 1 0 -61.26 0z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M393.08 433.06 a17.86 17.86 0 1 0 35.72 0 a17.86 17.86 0 1 0 -35.72 0z' stroke='%23037b0b'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1005'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-attachment: fixed;
  
}
